<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyriaoxCVtCqD4VPrxapKrEYdaTPlVq2s</string>
	<key>GCM_SENDER_ID</key>
	<string>740350801767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homepage</string>
	<key>PROJECT_ID</key>
	<string>tb-connect-b4ea7</string>
	<key>STORAGE_BUCKET</key>
	<string>tb-connect-b4ea7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740350801767:ios:55a1879a91e117d6a6e1c2</string>
</dict>
</plist>